{% extends "admin/admin-layout.html" %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% for category,message in messages %}

<div class="alert alert-{{category}}">
    {{message}}
</div>

{% endfor %}

{% endwith %}


<h4 class="fw-bold mb-3">
Pending EVC Clients
</h4>



<div class="card shadow border-0">


<div class="card-body">


<div class="table-responsive">


<table class="table table-bordered table-hover">


<thead class="table-dark">

<tr>

<th>#</th>

<th>Name</th>

<th>PAN</th>

<th>Mobile</th>

<th>Password</th>

<th>Current User</th>

<th>Status</th>

<th>Assign</th>

<th>Action</th>


</tr>


</thead>



<tbody>


{% for c in clients %}


<tr>


<td>{{loop.index}}</td>


<td>

{{c[1]}}

</td>


<td>

{{c[2]}}

</td>



<td>

{{c[3]}}

</td>



<td>

{{c[4]}}

</td>




<td>

<span class="badge bg-primary">

{{c[6]}}

</span>

</td>




<td>


<span class="badge bg-warning text-dark">

{{c[5]}}

</span>


</td>




<form method="POST"
action="/admin/assign-client/{{c[0]}}">



<td>


<select name="user_id"
class="form-select"
required>


<option value="">

Select User

</option>


{% for u in users %}


<option value="{{u[0]}}">

{{u[1]}}

</option>


{% endfor %}



</select>



</td>




<td>


<button class="btn btn-success btn-sm">

Assign

</button>


</td>


</form>


</tr>



{% else %}


<tr>

<td colspan="9"
class="text-center text-muted">


No Pending Clients


</td>


</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>


</div>


{% endblock %}