/* services hero  */
.services-hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

/* BACKGROUND IMAGE */
.hero-bg {
  position: absolute;
  inset: 0;
  background: url('../images/hero.png') center/cover no-repeat;
  filter: brightness(0.4);
  z-index: 1;
}

/* OPTIONAL GRADIENT OVERLAY */
.services-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(0,0,0,0.4), #000);
  z-index: 2;
}
 
/* CONTENT */
.services-hero-content {
  position: relative;
  min-height: 220px;
  z-index: 3;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  width:90%;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;

  animation: fadeUp 1s ease;
}

/* HEADING */
.services-hero-content h1 {
  font-size: 52px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 10px;
}

.services-hero-content span {
  color: #d4af37;
}

/* SUBTEXT */
.services-hero-content .hero-subtitle {
  color: #ccc;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}

/* ===== BREADCRUMB ===== */
.breadcrumb {
  margin-top: 10px;
  font-size: 14px;
}

.breadcrumb a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #d4af37;
}

.breadcrumb span {
  margin: 0 6px;
  color: #666;
}

.breadcrumb .active {
  color: #d4af37;
}

/* ===== ANIMATION ===== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .services-hero {
    height: 50vh;
    padding: 20px;
  }

  .services-hero-content {
    min-height: auto;
    padding: 20px;
  }

  .services-hero-content h1 {
    font-size: 28px;
  }

  .services-hero-content.hero-subtitle {
    font-size: 13px;
  }

  .breadcrumb {
    font-size: 12px;
  }

}

/* SERVICES CARDS CSSS */

.services-section {
  padding: 100px 20px;
 background: radial-gradient(circle at center, #020617, #000);
}

/* HEADER */
.services-header {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
}

.services-tag {
    color: #d4af37;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.services-header h2 {
  color: #fff;
  font-size: 36px;
}

.services-header span {
  color: #d4af37;
}

.services-header p {
  color: #aaa;
  margin-top: 10px;
}

/* GRID */
.services-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.service-card {
  border-radius: 20px;
  overflow: hidden;

  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.4s;
}

/* IMAGE */
.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  transition: 0.4s;
}

/* CONTENT */
.card-content {
  padding: 20px;
}

.card-content h3 {
  color: #fff;
  margin-bottom: 10px;
}

.card-content p {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 15px;
}

/* LINK */
.card-content a {
  color: #d4af37;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

/* HOVER EFFECT */
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(212,175,55,0.2);
}

.service-card:hover img {
  transform: scale(1.05);
}

.card-content a:hover {
  letter-spacing: 1px;
}
@media(max-width:768px){

  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-header h2 {
    font-size: 26px;
  }

  .service-card img {
    height: 180px;
  }

}

/* PROPCESS SECTION CSS*/
.process-section {
  padding: 120px 20px;
  background: radial-gradient(circle at center, #020617, #000);
}

/* WRAPPER */
.process-wrapper {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.process-header {
  text-align: center;
  margin-bottom: 80px;
}

.process-tag {
   color: #d4af37;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.process-header h2 {
  color: #fff;
  font-size: 36px;
}

.process-header span {
  color: #d4af37;
}

.process-header p {
  color: #aaa;
  margin-top: 10px;
}

/* FLOW LAYOUT */
.process-flow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* CONNECTING LINE */
.process-flow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 2px;

  background: linear-gradient(90deg, transparent, #d4af37, transparent);
  z-index: 0;
}

/* CARD */
.process-card {
  width: 220px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;

  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  position: relative;
  z-index: 2;

  transition: 0.4s;
}

/* ICON */
.process-card .icon {
  width: 60px;
  height: 60px;

  margin: auto;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(212,175,55,0.1);
  color: #d4af37;
  font-size: 20px;

  transition: 0.4s;
}

/* TEXT */
.process-card h3 {
  color: #fff;
  margin-bottom: 10px;
}

.process-card p {
  color: #aaa;
  font-size: 14px;
}

/* HOVER */
.process-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 40px rgba(212,175,55,0.2);
}

.process-card:hover .icon {
  background: linear-gradient(135deg, #d4af37, #b8962e);
  color: #000;
}

/* FLOAT ANIMATION */
.process-card {
  animation: floatCard 4s ease-in-out infinite;
}

.process-card:nth-child(2) {
  animation-delay: 0.5s;
}
.process-card:nth-child(3) {
  animation-delay: 1s;
}
.process-card:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes floatCard {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media(max-width:768px){

  .process-flow {
    flex-direction: column;
    gap: 25px;
  }

  .process-flow::before {
    display: none;
  }

  .process-card {
    width: 100%;
  }


}

/*TESTIMONIALS SECTION CSSS */
.testimonials-section {
  padding: 120px 20px;
 background: radial-gradient(circle at center, #020617, #000);
}

/* WRAPPER */
.testimonials-wrapper {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.testimonials-header {
  text-align: center;
  margin-bottom: 60px;
}

.test-tag {
  color: #d4af37;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.testimonials-header h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
}

.testimonials-header span {
  color: #d4af37;
}

.testimonials-header p {
  color: #aaa;
}

/* TRACK */
.test-track {
  overflow: hidden;
  position: relative;
}

/* SLIDER */
.test-slider {
  display: flex;
  gap: 25px;
  width: max-content;

  animation: scrollLoop 25s linear infinite;
}

/* PAUSE ON HOVER */
.test-track:hover .test-slider {
  animation-play-state: paused;
}

/* CARD */
.chat-card {
  min-width: 300px;
  max-width: 320px;

  padding: 25px;
  border-radius: 20px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.4s;
  position: relative;
}

/* CHAT STYLE */
.chat-card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25px;

  border-width: 10px;
  border-style: solid;
  border-color: rgba(255,255,255,0.05) transparent transparent transparent;
}

/* STARS */
.stars {
  color: #d4af37;
  margin-bottom: 10px;
  text-shadow: 0 0 12px rgba(212,175,55,0.8);
}

/* TEXT */
.chat-card p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 15px;
}

/* NAME */
.chat-card h4 {
  color: #fff;
  font-size: 14px;
}

/* LOCATION */
.chat-card span {
  color: #d4af37;
  font-size: 12px;
}

/* HOVER EFFECT */
.chat-card:hover {
  transform: translateY(-10px) scale(1.05);
  border-color: #d4af37;
  box-shadow: 0 20px 40px rgba(212,175,55,0.25);
}

/* ANIMATION */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media(max-width:768px){

  .test-slider {
    animation: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .chat-card {
    min-width: 260px;
    scroll-snap-align: start;
  }

  .test-track {
    overflow-x: auto;
  }

}
/* FAQ SECTION CSSS */ 
.faq-section {
  padding: 120px 20px;
  background: radial-gradient(circle at center, #020617, #000);
}

/* WRAPPER */
.faq-wrapper {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.faq-header {
  text-align: center;
  margin-bottom: 60px;
}

.faq-tag {
  color: #d4af37;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.faq-header h2 {
  color: #fff;
  font-size: 36px;
}

.faq-header span {
  color: #d4af37;
}

.faq-header p {
  color: #aaa;
  margin-top: 10px;
}

/* GRID */
.faq-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
  align-items: center;
}

/* LEFT */
.faq-left {
  background: rgba(255,255,255,0.04);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
}

/* ITEM */
.faq-item {
  border-bottom: 1px solid rgba(255,255,255,0.08);
  padding: 15px 10px;
  cursor: pointer;
}

/* QUESTION */
.faq-question {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

/* ICON */
.faq-question span {
  color: #d4af37;
  font-size: 18px;
  transition: 0.3s;
}

/* ANSWER */
.faq-answer {
  color: #aaa;
  font-size: 14px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

/* ACTIVE */
.faq-item.active .faq-answer {
  max-height: 200px;
}

.faq-item.active .faq-question span {
  transform: rotate(360deg);
}

/* HOVER */
.faq-item:hover {
  background: rgba(212,175,55,0.05);
  border-radius: 10px;
}

/* RIGHT IMAGE */
.faq-right img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(212,175,55,0.2);
  transition: 0.4s;
}

.faq-right img:hover {
  transform: scale(1.03);
}
@media(max-width:768px){

  .faq-grid {
    grid-template-columns: 1fr;
  }

  .faq-right {
    order: -1;
  }

  .faq-header h2 {
    font-size: 26px;
  }

}

.services-cta {
  padding: 100px 20px;
   background: radial-gradient(circle at center, #020617, #000);
}

/* BOX */
.services-cta-box {
  max-width: 900px;
  margin: auto;
  text-align: center;

  padding: 50px 30px;
  border-radius: 25px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.08);

  position: relative;
  overflow: hidden;

  transition: 0.4s;
}

/* GOLD GLOW BG */
.services-cta-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(212,175,55,0.15), transparent);
  opacity: 0;
  transition: 0.5s;
}

.services-cta-box:hover::before {
  opacity: 1;
}

/* TEXT */
.services-cta-box h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}

.services-cta-box p {
  color: #aaa;
  margin-bottom: 30px;
}

/* BUTTONS */
.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* PRIMARY */
.cta-primary {
  padding: 12px 25px;
  border-radius: 10px;

  background: linear-gradient(135deg, #d4af37, #b8962e);
  color: #000;
  font-weight: bold;
  text-decoration: none;

  transition: 0.3s;
}

.cta-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(212,175,55,0.4);
}

/* SECONDARY */
.cta-secondary {
  padding: 12px 25px;
  border-radius: 10px;

  border: 1px solid #d4af37;
  color: #d4af37;
  text-decoration: none;

  transition: 0.3s;
}

.cta-secondary:hover {
  background: #d4af37;
  color: #000;
}

@media(max-width:768px){

  .services-cta-box {
    padding: 40px 20px;
  }

  .services-cta-box h2 {
    font-size: 24px;
  }

}