{% extends 'admin/admin-layout.html' %}

{% block content %}

<a href="/admin/users" class="btn btn-outline-secondary">
    Back to Users
</a>
<div class="card-body">

    <form method="POST">

        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Full Name *</label>
                <input type="text"
                       name="fullname"
                       class="form-control"
                       required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Employee ID *</label>
                <input
type="text"
name="employee_id"
class="form-control"
placeholder="EMP001"
required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Email *</label>
                <input type="email"
                       name="email"
                       class="form-control"
                       required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Mobile Number *</label>
               <input
type="tel"
name="mobile"
class="form-control"
maxlength="10"
pattern="[0-9]{10}"
placeholder=" "
required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Password *</label>
<div class="input-group">

    <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required>

<button
    type="button"
    class="btn btn-outline-secondary border-start-0"
    onclick="togglePassword()">
        <i
            class="bi bi-eye"
            id="eyeIcon">
        </i>

    </button>

</div>
            </div>


            <div class="col-md-6 mb-3">
                <label class="form-label">Status *</label>

                <select class="form-select" name="status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Joining Date</label>

                <input type="date"
                       name="joining_date"
                       class="form-control">
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">Remarks</label>

                <textarea
                    class="form-control"
                    rows="3"
                    name="remarks"></textarea>
            </div>

        </div>

        <hr>

        <div class="d-flex gap-2">

            <button type="submit"
                    class="btn btn-dark">
                Create User
            </button>

            <a href="/admin/users"
               class="btn btn-outline-secondary">
                Cancel
            </a>

        </div>

    </form>

</div>
<script>

function togglePassword(){

    const password =
    document.getElementById("password");

    const eye =
    document.getElementById("eyeIcon");

    if(password.type==="password"){

        password.type="text";

        eye.classList.remove("bi-eye");

        eye.classList.add("bi-eye-slash");

    }
    else{

        password.type="password";

        eye.classList.remove("bi-eye-slash");

        eye.classList.add("bi-eye");

    }

}

</script>
{% endblock %}