{% extends 'user/user-layout.html' %}

{% block content %}

<h3>Pending EVC Clients</h3>

<table class="table">

    <thead>

        <tr>
            <th>PAN</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>E-Filing Password</th>
            <th>Remark</th>
            <th>Action</th>
        </tr>

    </thead>


    <tbody>

        {% for client in clients %}

        <tr>

            <td>
                {{ client.pan_no }}
            </td>


            <td>
                {{ client.client_name }}
            </td>


            <td>
                {{ client.mobile_no }}
            </td>


            <td>
                {{ client.efiling_password }}
            </td>

            <td>

            {% if client.user_remarks %}

            <span class="badge bg-warning text-dark">

            {{ client.user_remarks }}

            </span>

            {% else %}

            <span class="badge bg-secondary">

            New

            </span>

            {% endif %}

            </td>

            <td>

                <a
                href="/user/verify/{{ client.id }}"
                class="btn btn-success btn-sm">

                    Verify

                </a>

            </td>


        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}